<!DOCTYPE html>
<html>
  <head>
    <title>Skeleton</title>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width">
    <link href="/css/app.css" media="screen, projector, print" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%= content %>
  </body>
</html>
